{% extends "base.html" %}

{% block title %}Register - EduPathen.id{% endblock %}

{% block content %}
<main class="auth-container">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>

    <div class="auth-card">
        <h2>Register</h2>
        <form action="{{ url_for('register') }}" method="POST">
            <div class="input-group">
                <input type="text" name="username" placeholder="Masukkan Username Anda" required minlength="3">
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Masukkan Password Anda" required minlength="6">
            </div>
            <button type="submit" class="btn-primary">Daftar</button>
        </form>
        <p class="auth-footer">Sudah Punya Akun? <a href="{{ url_for('login') }}">Masuk</a></p>
    </div>
</main>
{% endblock %}